services:
  mongodb:
    image: mongo:latest

    container_name: mongodb

    restart: unless-stopped

    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}

    ports:
      - "27007:27017"

    volumes:
      - mongodb:/data/db
    
    networks:
      - backend
    
networks:
  backend:

volumes:
  mongodb: