APP_NAME= "mini-rag"
APP_VERSION= "0.1"
API_KEY= ""


FILE_ALLOWED_TYPES=["text/plain", "application/pdf", "application/vnd.openxmlformats-officedocument.wordprocessingml.document"]
FILE_MAX_SIZE= 10
FILE_DEFAULT_CHUNK_SIZE=512000  # 512KB

# MONGODB_URI="mongodb://localhost:27007"
MONGODB_URI="mongodb://your_username:your_password@localhost:27007"
MONGODB_DB_NAME="mini_rag_db"



#=================================== LLM Congigurations ===================================#

GENERATION_BACKEND=""  # Options: openai, gemini, huggingface
EMBEDDING_BACKEND=""   # Options: openai, gemini, huggingface

OPENAI_API_KEY=""
GEMINI_API_KEY=""
HUGGING_FACE_API_KEY=""

GENERATION_MODEL_ID = "gpt-4o"  # OpenAI: gpt-4o, gpt-3.5-turbo | Gemini: gemini-1.5-pro | HuggingFace: meta-llama/Llama-2-7b-chat-hf
EMBEDDING_MODEL_ID = "models/gemini-embedding-001"  # OpenAI: text-embedding-3-small | Gemini: gemini-embedding-004 | HuggingFace: sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
EMBEDDING_SIZE=768  # OpenAI: 3076,1536 | Gemini: 768 | HuggingFace: 384

INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1

#=================================== Vector DB Configurations ===================================#

VECTOR_DB_BACKEND="qdrant"  # Options: qdrant_db, pinecone_db, weaviate_db, faiss_db
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METRIC="cosine"  # Options: Cosine, Euclidean, DotProduct
