APP_NAME= "mini-rag"
APP_VERSION= "0.1"
API_KEY= ""


FILE_ALLOWED_TYPES=["text/plain", "application/pdf", "application/vnd.openxmlformats-officedocument.wordprocessingml.document"]
FILE_MAX_SIZE= 10
FILE_DEFAULT_CHUNK_SIZE=512000  # 512KB

# MONGODB_URI="mongodb://localhost:27007"
MONGODB_URI="mongodb://root:example@localhost:27007"
MONGODB_DB_NAME="mini_rag_db"
